@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Handlee&family=Lato:wght@300&display=swap");
/* * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */
body {
  /*Estilo del cuerpo */
  background-image: url(/src/imgfondos/fondomenu.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mi-span {
  position: relative;
  bottom: 30px;
  background-color: #272932;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 2.5px rgb(0, 0, 0);
  font-family: "Fredoka";
}

h1.titulo {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #135b11;
  text-align: center;
  margin: 2rem 0;
}

h3.texto {
  background-color: #272932;
  text-align: justify;
  border-radius: 15px;
  padding: 1.5rem;
  font-family: "lato";
  box-shadow: 0 4px 8px 0 rgba(237, 231, 231, 0.25);
  color: #ffffff;
  box-shadow: 2px 5px 50px 1px rgb(0 0 0 / 70%);
  font-size: 20px;
}

.mi-h4 {
  background-color: #272932;
  text-align: justify;
  border-radius: 15px;
  padding: 15px;
  font-family: "lato";
  box-shadow: 0 4px 8px 0 rgba(237, 231, 231, 0.25);
  color: #ffffff;
  box-shadow: 2px 5px 50px 1px rgb(0 0 0 / 70%);
  position: relative;
  top: 5rem;
  font-size: 15px;
}

p.nombres {
  color: #ffffff;
  font-family: "Fredoka";
}

.mi-p {
  color: #272932;

  font-family: "lato";
  font-size: 14px;
}

.mi-a {
  font-size: "handlee";
  color: #fff;
  background: #272932;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  position: relative;
  bottom: 15px;
  text-decoration: none;
}

.mi-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.mi-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mi-col {
  width: calc(25% - 1.5rem);
  margin: 1rem;
  cursor: pointer;
}

.mi-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.mi-front,
.mi-back {
  /* parte de enfrente*/
  background-size: cover;
  box-shadow: 0 2px 6px 2.5px rgb(0, 0, 0);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  margin-top: 20px;
}

.mi-back {
  /* Fondo de atras  */
  background: #fcc875;
  background: -webkit-linear-gradient(45deg, #fcc875 0%, #fcc875 100%);
  background: -o-linear-gradient(45deg, #fcc875 0%, #fcc875 100%);
  background: linear-gradient(45deg, #fcc875 0%, #fcc875 100%);
}

.mi-front:after {
  /* esta parte es de la opacidad denfrente */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.mi-mi-container:hover .mi-front,
.mi-container:hover .mi-back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.mi-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mi-inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.mi-inner1 {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.mi-container .mi-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.mi-container .mi-front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #272932;
}

.mi-container:hover .mi-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.mi-container:hover .mi-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.mi-front .mi-inner p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  position: relative;
}

.mi-front .mi-inner .mi-span {
  color: rgba(255, 255, 255, 0.977);
  font-family: "Lato";
  font-weight: 300;
  font-size: 13px;
}

@media screen and (max-width: 64rem) {
  .mi-col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .mi-col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .mi-col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
